<%- include("./include/header.ejs") %>
<h2><%= title %></h2>
<ul>
  <li>
    <a href="/login">로그인</a>
  </li>
  <li>
    <a href="/join">회원가입</a>
  </li>
  <li>
    <a href="/board">게시판</a>
  </li>
</ul>
<%- include("./include/footer.ejs") %>
