<%- include("./include/header.ejs") %>
<h2><%= title %></h2>
<form action="">
  <div>
    <label><span>ID</span><input type="text" /></label>
  </div>
  <div>
    <label><span>PASSWORD</span><input type="password" /></label>
  </div>
  <div>
    <label><span>EMAIL</span><input type="text" /></label>
  </div>
  <button>JOIN</button>
</form>
<%- include("./include/footer.ejs") %>
